<h1>Pants! - The Best Thing Since Pants!</h1>


<form action = '/search' method='get'>

	<input name='query' placeholder='Enter a U.S. city...' type='text' class=''>
	<input type='submit' value='I am feeling lucky' class='btn btn-large btn-primary'>

</form>
