<h2>Results</h2>
<br>
Showing result for: <strong><%= @response['name'] %></strong>
<br>
The low is going to be: <strong><%= @low %></strong>
<br><br>
You should wear... <h1><%= @message %></h1>
<br><br>
<%= params %>